html {	
	box-sizing: border-box;
  	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #444444;
}

h1{
	font-size: 38pt;	
	padding: 0;
	margin: 0;
}

h2{
	padding: 0;
	margin: 0;
}

.jumbotron {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	background-image: url("../IMG/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;		
	width: 100%;	
	border-bottom: 1px solid black;
	border-top: 0 solid black;
	min-height: 500px;
	max-height: 768px;
	background-color: white;
}

.jumbotron_content {
	box-sizing: border-box;
	padding: 15px;
}

.social_media_buttons {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;	
}

.social_media_button {
	box-sizing: border-box;
	border: 0;
	width: 50px;
	height: 50px;
	opacity: 0.5;
	padding: 5px;
}

.social_media_button:hover {
	opacity: 1;
	box-sizing: border-box;
}

.page_title {
	font-weight: bolder;
	font-family:  Roboto;
	box-sizing: border-box;	
}

.page_title_domainname {
	font-size: 15px;
	padding: 2px;
	margin-top: -5px;
	color: rgba(0,0,0,0.5);
	box-sizing: border-box;
}

.link_box_container {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	/* This should turn off on lower resolutions */
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}


.image_box {
	margin: 10px;
	width: 350px;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #222222;
	position: relative;
	box-sizing: border-box;
}

.image_box_content {
	width: 100%;
	height: 100%;
	text-decoration: none;
	box-sizing: border-box;

}

.image_box_text {	
	padding: 5px;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.image_box_hashtag {
	font-size: 200%;
	color: rgba(0,0,0,0.8);
	font-weight: bold;
	box-sizing: border-box;

}

.image_box_description {
	color: rgba(0,0,0,0.7);
	font-size: 90%;
	box-sizing: border-box;
}